/* Itasca CSS styles */
/* reset */
	ul   {margin: 0; padding: 0; list-style-type: none;}
/* wrapper styling */
	body, html {	
		background-image:url(./img/top-nav-back.png); background-repeat:repeat-x;
		font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
		font-size: 12px;
		color: #000;
		margin: 0; 
		padding: 0;
		font-size: 100%;
		}
	#wrapper {margin: 0 auto;
		width: 1000px;
		
		}
	a {
	text-decoration: none;
	color: #000;
	}
	a:hover {text-decoration: underline;}

	p {}
	
#appPreView {padding-top:200px;}
#previewWrap {border:1px solid #66b4c9;border-radius:5px;padding:20px;}
#previewWrap table tr td h3{margin-top:30px;}

.clearBoth {clear:both;font-size:2px;}
	
header {position: relative;}	
/*	
    header  h1  span {
    background: url("./img/Itasca_logo.png") no-repeat;
    height: 126px;
    left: 0;
    position: absolute;
    top: 4px;
    width: 183px;
    z-index: 300;
		}
		
	header h1, header h1 a {
    color: #fff;
    display: block;
    font-size: 0;
    height: 126px;
    margin: 0;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: 183px;
    z-index: 400;
}
*/	
	#topNav  {/*float: right; margin:8px 0;*/padding:10px 0; margin-bottom:8px;}
	#topNav ul {float:right;}
	#topNav li  {float: left; display: inline; color: #fff; }
	#topNav li a {color: #fff; padding: 5px 15px; font-size: 15px; text-transform: uppercase;}
	
	#midNavLinks {float: right; margin:8px 15px; clear: right; }
	#midNavLinks li  {float: left; display: inline; padding: 0 4px;}
	#midNavLinks li a  {}
	
	.helpCare  {float: right; margin-top: 17px; text-transform: uppercase;font-size: 13px;}
	
	#logo img {float:left;}
	
	#headerSearchFrm  {margin: 15px;}
	#headerSearchFrm  { float: right; clear: right;}
	.productSearchKeyword  { width: 296px;}
	
	#mainNav    {float: right; margin:8px 0; }
	#mainNav  li  {float: left; display: inline; font-size: 12px; text-transform: uppercase; border-right:1px solid #000}
	#mainNav li a {display:block; padding: 0 8px;}
	#mainNav li.last {border-right:0;}
	/*#mainNav  li a {font-size: 13px; text-transform: uppercase;}*/
	
	#mainContentArea  {/*padding: 20px;*/} 
	#slideshowContainer {
		width:1000px;
		height:376px;
	}
	.homeBanners {margin:10px 0;height:244px;}
	.homeBanners img {float:left;margin-right:9px;}
	.homeBanners .lastBann {margin:0;}
	.listStyleNone  li  { /*width: 207px;*/ 
		border: 1px solid #695649;
		-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
		-moz-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
		box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.75);
}
	.categoryList li, .productList li {
		padding:10px 5px 0 10px;
		height:215px;
	}
	.slideMe li {border:none; box-shadow:none;padding:0; -moz-box-shadow:none;-webkit-box-shadow:none;}
	.sideline a {padding:5px 10px;}

/* h2 { background: url("./img/header-back.jpg") no-repeat; color: #fff; padding: 10px; font-size: 16px;} */

/* Temporary addition while product tab list is blocked for external testing */
.tabbedProductContent {
	border:1px solid #9C947C;
    color: #000000;
	border-radius:4px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	padding:1em 1.4em;
}

.checkoutButtonsContainer .checkoutButton, #addToCartBtn {border:1px solid #9c947c;background:#04b5cb url(img/ui-bg_gloss-wave_30_04b5cb_500x100.png) 50% 50% repeat-x;font-weight:bold;color:#4d3420;}

hr.hr {
    background-color: #808080;
    height: 1px;
    margin: 0 auto 15px;
    width: 965px;
	clear: both;
}

#content {clear:both;}
footer  { margin: 10px 0 20px;background: url("./img/footer-back-2.jpg") no-repeat; color: #fff; width: 1000px; height: 326px;clear:both;}
.signUp {
width:272px;
float:left;
padding: 15px 30px 25px;
}
.signUp form {padding:15px 25px 10px 30px;background: url("img/form-arrow.png") no-repeat scroll 0 25px transparent;}
.signUp p {font-size:12px;line-height:1.1em;}
.signUp .userInfo {padding:0;}
.signUp input#subscribeLogin,.signUp input#subscribeFullname {
    margin-bottom: 5px;
    padding: 3px;
}
.signUp input.ui-button {
	float:right;
	margin-right:10px;
}
#footerLinkBox {
	background: #04B5CB;
	width:632px;
	float:left;
	padding:10px 18px 30px;
	margin-bottom:15px;
}
/*#footerLinkBox a {color:#FFFFFF;}*/
.linkGroup {float:left;margin-right:35px;}
.lastLinkGroup {float:left;}

.footerLinks {overflow: hidden;list-style-type: none; /*margin:20px 0 45px 22px;*/ font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;}
.footerLinks h4 {font-size: 24px;margin-bottom:15px;}
.footerLinks  a {color: #fff;}
/*.footerLinks li {float: left;  width: 243px;}*/
.footerLinks li li {float: none; display: block; padding-top:10px;  }
.footerLinks li li a {font-size: 18px;}
.footerCopy {padding-left:25px;font-size:12px;}
.footerCopy a {color:#FFF;}
	
	
	
	
	
	
	
	
	
	
	